#calculadora {
    background: rgb(0, 255, 55);
    border: 0;
  }
  #calculadora td {
    padding: 4px;
  }
  .cajita_valor {
    background-color: #ffffff;
    color: #467702;
    border: 1px solid rgb(0, 0, 0);
    width: 130px;
    height: 26px;
    font-family: Arial, Helvetica;
    font-size: 20px;
    line-height: 26 px;
    text-align: right;
  }
  .boton {
    width: 24px;
    border: 1px solid #000;
    font-family: Arial;
    font-size: 12px;
    cursor: hand;
    background-color: #fff;
  }
  .boton_largo {
    width: 62px;
    border: 1px solid #000;
    font-family: Arial;
    font-size: 12px;
    cursor: hand;
    background-color: #fff;
  }
  .funcion {
    font-weight: bold;
    color: #b00;
  }

  body {
    margin-left: 45%;
  }

  :root {
    --mainBgColor: #f3f3f3;
    --secondaryBgColor: #fff;
    --hoverColor: #f5465d;
    --mainTextColor: #444;
  }
  * {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--mainTextColor);
  }
  body {
    background-color: var(--mainBgColor);
    height: 100vh;
    display: grid;
    place-items: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  /*? CONTAINER */
  .wrapper {
    background-color: var(--secondaryBgColor);
    border-radius: 25px;
    padding: 2rem;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
  /*? PLAYER */
  .player {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .player button {
    margin: 1rem;
    border: none;
  }
  .player-option {
    padding: 1.5rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
  }
  .option-rock {
    background: linear-gradient(to top left, #e52a5a, #ff585f);
    grid-column: span 2;
    justify-self: center;
  }
  .option-rock:hover {
    background: linear-gradient(to bottom right, #e52a5a, #ff585f);
  }
  .option-paper {
    background: linear-gradient(to top left, #39b385, #9be15d);
  }
  .option-paper:hover {
    background: linear-gradient(to bottom right, #39b385, #9be15d);
  }
  .option-scissor {
    background: linear-gradient(to top left, #ffb003, #ffcb03);
    
  }
  .option-scissor:hover {
    background: linear-gradient(to bottom right, #ffb003, #ffcb03);
  }
  /*? COMPUTER */
  .computer {
    display: grid;
    place-content: center;
    border-left: 1px solid var(--mainTextColor);
  }
  .computer-option {
    padding: 1.5rem 1.5rem;
    border-radius: 25px;
    background: linear-gradient(to top left, #c8c8c8, #a8a7a7);
    height: 10rem;
    width: 10rem;
  }
  /*? NEXT GAME */
  #next-round {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid var(--mainTextColor);
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  #next-round:hover {
    background: linear-gradient(to bottom right, #ffb003, #ffcb03);
  }
  
  .message {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--secondaryBgColor);
    border-radius: 25px;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .centre {
text-align: center;
  }
  